@font-face {
  font-family: 'Goldman';
  src: url('./Goldman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goldman';
  src: url('./Goldman-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital Play Italic St';
  src: url('./Digital Play Italic St.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Airborne';
  src: url('./AIRBORNE GP.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'AncientGod';
  src: url('./Ancient God.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Apollo';
  src: url('./Apollo.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Cubic';
  src: url('./Cubic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DigitalPlay';
  src: url('./Digital Play St.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Drexs';
  src: url('./Drexs.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Elias';
  src: url('./Elias.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'FutureSallow';
  src: url('./Future Sallow.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Goodtime';
  src: url('./GOODTIME.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'GameOfSquids';
  src: url('./Game Of Squids.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Glypic';
  src: url('./Glypic.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Icklips';
  src: url('./Icklips_.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Moto';
  src: url('./MOTO.TTF') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'MontereyPopsicle';
  src: url('./MontereyPopsicleNF.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PolenticalNeon';
  src: url('./Polentical Neon Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Venta';
  src: url('./VENTA___.TTF') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Conthrax';
  src: url('./conthrax-sb.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Kaylon';
  src: url('./kaylon.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Nsecthin';
  src: url('./nsecthin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Yonder';
  src: url('./yonder.ttf') format('truetype');
  font-display: swap;
}
